body {
  font: 18px/1.5 sans-serif;
}

.pad-30 {
  padding: 30px;
}

.color-w {
  color: white;
}

aside {
  height: 300px;
  width: 100px;
  padding: 20px 10px;
  box-sizing: border-box;
  
  background: #3F51B5;
  color: #fff;
  
  float: left;
}

main {
  background: #2196F3;
  height: 100%;
}

footer {
  background: #9C27B0;
}