:root {
  --aside-width: 200px;
}

body {
  margin: 0;
  
  font: 18px/1.5 sans-serif;
}

section {
  display: flex;
}

aside {
  position: fixed;
  top: 1em;
  left: 1em;
  width: var(--aside-width);
  height: 100%;
}

main {
  margin-left: calc(var(--aside-width) + 1em);
}