:root {
  --square-size: 200px;
}

.block {
  padding: 30px;
  box-sizing: border-box;
  
  position: absolute;
  top: 0;
  left: 0;
}

.block-one {
  width: var(--square-size);
  height: var(--square-size);
  background: #4527a0;
}

.block-two {
  width: calc(var(--square-size) / 1.5);
  height: calc(var(--square-size) / 1.5);
  background: #3f51b5;
}

.block-three {
  width: calc(var(--square-size) / 3);
  height: calc(var(--square-size) / 3);
  background: #1565c0;
}